nav button {
    margin-left: 10px;
    border: 1px solid gray;
    padding: 10px;
    text-decoration: none;
}
nav button:visited, button:link {
    color: #607D8B;
}
nav button.active {
    color: #039be5;
}
.items {
    display: flex;
    justify-content: center;
}
.items li {
    font-size: 2rem;
    margin-left: 30px;
}